/* Variables */
/* Breakpoints */
/* Mixins */
html, body {
  height: 100%;
  background-color: #f8f8f8;
  font-family: helvetica, arial, sans-serif; }

a:hover {
  text-decoration: none; }

.container {
  position: relative;
  height: 100%; }

.redline {
  height: 5px;
  width: 100%;
  background: #cb262b;
  z-index: 5000;
  position: fixed;
  top: 0; }

.logo {
  width: 140px;
  height: 100px;
  display: block;
  background: #cb262b;
  border-bottom: 3px solid #9A2A2E;
  position: fixed;
  z-index: 8000;
  left: 80px;
  padding: 20px 15px;
  -webkit-transition: width 0.25s ease, padding 0.25s ease, height 0.25s ease, left 0.25s ease;
  -moz-transition: width 0.25s ease, padding 0.25s ease, height 0.25s ease, left 0.25s ease;
  -o-transition: width 0.25s ease, padding 0.25s ease, height 0.25s ease, left 0.25s ease;
  transition: width 0.25s ease, padding 0.25s ease, height 0.25s ease, left 0.25s ease; }
  .closed .logo {
    width: 70px;
    height: 50px;
    padding: 13px 10px;
    left: 20px; }
  .logo img {
    display: block;
    width: 100%; }

header {
  background: #fff;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
  border-bottom: 3px solid #eee; }
  header .header-content {
    max-width: 1025px;
    margin-left: 300px;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: margin-left 0.5s ease, width 0.5s ease;
    -moz-transition: margin-left 0.5s ease, width 0.5s ease;
    -o-transition: margin-left 0.5s ease, width 0.5s ease;
    transition: margin-left 0.5s ease, width 0.5s ease; }
    @media screen and (max-width: 768px) {
      header .header-content {
        width: 100%; } }
    .closed header .header-content {
      margin-left: 85px;
      width: 85%; }
    header .header-content a.link {
      float: right;
      color: #777;
      display: block;
      margin: 12px 5px 10px;
      padding: 5px; }
      header .header-content a.link:hover {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        background: #eee;
        color: #cb262b; }
      @media screen and (max-width: 768px) {
        header .header-content a.link {
          display: none; } }
    header .header-content input {
      margin-top: 5px;
      margin-left: 15px;
      height: 45px;
      border: none;
      border-bottom: 3px solid #eee;
      width: 200px;
      font-size: 18px;
      color: #cb262b;
      font-weight: normal;
      -webkit-transition: border 0.25s ease;
      -moz-transition: border 0.25s ease;
      -o-transition: border 0.25s ease;
      transition: border 0.25s ease; }
      header .header-content input:focus {
        outline: none;
        box-shadow: none !important;
        border-color: #777; }
    header .header-content i {
      font-size: 18px;
      margin-top: 5px; }
    header .header-content .drawer-btn {
      display: block;
      width: 30px;
      height: 30px;
      float: left;
      margin-top: 18px;
      margin-right: 10px; }
      header .header-content .drawer-btn .bar {
        display: block;
        height: 2px;
        background: #cb262b;
        margin-bottom: 5px; }

nav.main-nav {
  width: 300px;
  position: fixed;
  float: left;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333;
  background-image: url(../img/sidebar-bg.jpg);
  background-position: left top;
  background-size: cover;
  text-transform: uppercase;
  height: 100%;
  text-align: right;
  font-size: 18px;
  letter-spacing: 1px;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 120px;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease; }
  nav.main-nav ul {
    margin: 0;
    padding: 0;
    height: 100%; }
  nav.main-nav a {
    color: #fff;
    width: 100%;
    display: block;
    border-right: 5px solid transparent;
    padding: 8px;
    -webkit-transition: border 0.25s ease, background 0.25s ease;
    -moz-transition: border 0.25s ease, background 0.25s ease;
    -o-transition: border 0.25s ease, background 0.25s ease;
    transition: border 0.25s ease, background 0.25s ease; }
    nav.main-nav a:hover {
      background: rgba(255, 255, 255, 0.2);
      border-color: #cb262b; }
  .closed nav.main-nav {
    left: -300px; }

.content {
  max-width: 1025px;
  margin-left: 300px;
  width: 70%;
  float: left;
  margin-top: 50px;
  -webkit-transition: margin-left 0.5s ease, width 0.5s ease;
  -moz-transition: margin-left 0.5s ease, width 0.5s ease;
  -o-transition: margin-left 0.5s ease, width 0.5s ease;
  transition: margin-left 0.5s ease, width 0.5s ease; }
  @media screen and (max-width: 768px) {
    .content {
      width: 100%; } }
  .closed .content {
    margin-left: 0;
    width: 100%; }
  .content article.post {
    border-right: 1px solid #eee;
    background: #fff;
    box-shadow: 0px 0px 8px #ccc;
    margin: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden; }
    .content article.post .thumbnail-wrapper {
      max-height: 340px;
      display: block;
      overflow: hidden; }
    .content article.post img {
      width: 100%;
      height: auto;
      display: block; }
    .content article.post .lead {
      border-left: 5px solid #cb262b;
      padding: 15px;
      margin-top: 0; }
      .content article.post .lead h2 {
        margin-top: 0;
        margin-bottom: 5px; }
        .content article.post .lead h2 a {
          color: #333;
          -webkit-transition: color 0.25s ease;
          -moz-transition: color 0.25s ease;
          -o-transition: color 0.25s ease;
          transition: color 0.25s ease; }
          .content article.post .lead h2 a:hover {
            color: #cb262b; }
      .content article.post .lead .author {
        color: #777;
        display: block; }
    .content article.post p {
      margin: 0 20px 20px;
      line-height: 2;
      color: #777; }
    .content article.post .post-buttons {
      color: #777;
      display: block;
      padding: 10px;
      border-width: 1px 1px 0px 0px;
      border-style: solid;
      border-color: #eee;
      width: 33.33333%;
      float: left;
      text-align: center;
      border-bottom: 3px solid #eee;
      -webkit-transition: background 0.25s ease, color 0.25s ease, border 0.25s ease;
      -moz-transition: background 0.25s ease, color 0.25s ease, border 0.25s ease;
      -o-transition: background 0.25s ease, color 0.25s ease, border 0.25s ease;
      transition: background 0.25s ease, color 0.25s ease, border 0.25s ease; }
      .content article.post .post-buttons:hover {
        background: #eee;
        color: #cb262b;
        border-bottom: 3px solid #ddd; }
      .content article.post .post-buttons:last-of-type {
        border-right: none; }

footer {
  background: #333;
  color: #777;
  width: 100%;
  padding: 20px;
  margin-right: 20px;
  float: left;
  -webkit-transition: margin-left 0.5s ease, padding-left 0.5s ease;
  -moz-transition: margin-left 0.5s ease, padding-left 0.5s ease;
  -o-transition: margin-left 0.5s ease, padding-left 0.5s ease;
  transition: margin-left 0.5s ease, padding-left 0.5s ease;
  width: 100%;
  padding-bottom: 30px;
  margin-top: 30px; }

.trio-wrapper {
  max-width: 1025px;
  width: 70%;
  position: relative;
  max-width: 1025px;
  margin-left: 300px;
  width: 70%; }
  @media screen and (max-width: 768px) {
    .trio-wrapper {
      margin-left: 0;
      width: 100%; } }
  .trio-wrapper .trio {
    width: 33.3333%;
    float: left;
    padding-right: 10px;
    padding-left: 10px; }
    .trio-wrapper .trio .first {
      padding-left: 0; }
    .trio-wrapper .trio .last {
      padding-right: 0; }
    @media screen and (max-width: 768px) {
      .trio-wrapper .trio {
        width: 100%;
        padding: 0; } }

/* Single */
.featured-image-cont {
  max-width: 1025px;
  height: 400px;
  overflow: hidden; }
  .featured-image-cont .featured-image img {
    width: 100%;
    height: auto;
    display: block; }

.post-content {
  width: 80%;
  margin: -200px auto 0;
  background: #fff;
  padding: 20px;
  position: relative;
  border-bottom: 3px solid #eee;
  border-top: 5px solid #cb262b;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 0 0 4px 4px;
  overflow: hidden; }
  .post-content h1 {
    margin-top: 0; }
  .post-content .author a {
    color: #cb262b; }
  .post-content .date {
    color: #777; }

/* Breadcrumbs START */
#breadcrumbs span span {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }

#breadcrumbs {
  background: #f1f1f1;
  height: 45px;
  overflow: hidden;
  margin: 20px -20px 30px; }

#breadcrumbs span span {
  float: left;
  line-height: 3.3em;
  padding-left: 5px;
  color: #666;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  height: 100%; }

#breadcrumbs span span a {
  display: block;
  padding: 0 30px 0 15px;
  background: url(../img/crumbs.jpg) no-repeat right;
  text-decoration: underline;
  color: #666;
  height: 100%; }

#breadcrumbs span span span {
  padding-left: 15px;
  width: 100%; }

#breadcrumbs span span a:hover, #breadcrumbs span span a:focus {
  color: #cb262b;
  text-decoration: underline; }

#breadcrumbs span span, #breadcrumbs span span a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.breadcrumb2 {
  max-width: 50%; }

.breadcrumb3 {
  max-width: 25%; }

.breadcrumb3:last-child {
  max-width: 50%; }

.breadcrumb4 {
  max-width: 20%; }

.breadcrumb4:last-child {
  max-width: 40%; }
