/* Variables */

$font: helvetica, arial, sans-serif;
$red: #cb262b;
$gray: #333;
$light-gray: #777;
$lighter-gray: #eee;
$lightest-gray: #f8f8f8;
$radius: 4px;
$content-width: 1025px;
$sidebar-width: 300px;

/* Breakpoints */

$mobile-width: 768px;

/* Mixins */

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin right-content{
	max-width: $content-width; 
	margin-left: $sidebar-width;
	width: 70%;
}

@mixin transition($transition...){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

html, body{
	height: 100%;
	background-color: $lightest-gray;
	font-family: $font;	
}

a{

	&:hover{
		text-decoration: none; 
	}
}

.container{
	position: relative;
	height: 100%;
}


.redline{
	height: 5px;
	width: 100%;
	background: $red;
	z-index: 5000;
	position: fixed;
	top:0;
}

.logo{
	width: 140px;
	height: 100px;
	display: block;
	background: $red;
	border-bottom: 3px solid #9A2A2E;
	position: fixed;
	z-index: 8000;
	left: 80px;
	padding: 20px 15px;
	@include transition(width .25s ease, padding .25s ease, height .25s ease, left .25s ease);
	
	.closed &{
		width: 70px;
		height: 50px;
		padding: 13px 10px;
		left: 20px;
	}
	
	img{
		display: block;
		width: 100%;
	}
}

header{
	background: #fff;
	height: 50px;
	width: 100%;
	position: fixed;
	top:0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);	
	border-bottom: 3px solid $lighter-gray;
	
	.header-content{
		@include right-content;
		padding-left: 20px;
		padding-right: 20px;
		@include transition(margin-left .5s ease, width .5s ease);
		
		@media screen and (max-width: $mobile-width){
			width: 100%;
		}
		
		.closed &{
			margin-left: 85px;
			width: 85%;
		}
		
		a.link{
			float: right;
			color: $light-gray;
			display: block;
			margin: 12px 5px 10px;
			padding: 5px;
			
			&:hover{
				@include border-radius($radius);
				background: $lighter-gray;
				color: #cb262b;
			}
			
			@media screen and (max-width: $mobile-width){
				display: none;
			}
		}
		
		input{
			margin-top: 5px;
			margin-left: 15px;
			height: 45px;
			border: none;
			border-bottom: 3px solid $lighter-gray;
			width: 200px;
			font-size: 18px;
			color: $red;
			font-weight: normal;
			@include transition(border 0.25s ease);
			
			&:focus{
				outline: none;
				box-shadow:none !important;
				border-color: $light-gray;
			}
		}
		
		i{
			font-size: 18px;
			margin-top: 5px;
		}
		
		.drawer-btn{
			display: block;
			width: 30px;
			height: 30px;
			float: left;
			margin-top: 18px;
			margin-right: 10px;
			
			.bar{
				display: block;
				height: 2px;
				background: $red;
				margin-bottom: 5px;	
			}
		}
	}
}

nav.main-nav{
	width: $sidebar-width;
	position: fixed;
	float: left;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #333;
	background-image: url(../img/sidebar-bg.jpg);
	background-position: left top;
	background-size: cover;
	text-transform: uppercase;
	height: 100%;
	text-align: right;
	font-size: 18px;
	letter-spacing: 1px;
	overflow: hidden;
	overflow-y: scroll;
	padding-top: 120px;
	@include transition(left .5s ease);
		
		ul{
			margin: 0;
			padding: 0;
			height: 100%
		}
		
		a{
			color: #fff;
			width: 100%;
			display: block;
			border-right: 5px solid transparent;
			padding: 8px;
			@include transition(border .25s ease, background .25s ease);
			
			&:hover{
				background: rgba(255, 255, 255, 0.2);
				border-color: $red;
			}
		}
	.closed &{
		left: -$sidebar-width;
	}
		
}

.content{
	@include right-content;
	float: left;
	margin-top: 50px;
	@include transition(margin-left .5s ease, width .5s ease);
	
	@media screen and (max-width: $mobile-width){
		width: 100%;
	}
	
	.closed &{
		margin-left: 0;
		width: 100%;
	}
	
	article.post{
		border-right: 1px solid $lighter-gray;
		background: #fff;
		box-shadow: 0px 0px 8px #ccc;
		margin: 20px;
		@include border-radius(4px);
		overflow: hidden;
		
		.thumbnail-wrapper{
			max-height: 340px;
			display: block;
			overflow: hidden;
		}
		
		img{
			width: 100%;
			height: auto;
			display: block;
		}
		
		.lead{
			border-left: 5px solid $red;
			padding: 15px;
			margin-top: 0;
			
			h2{
				margin-top: 0;
				margin-bottom: 5px;
				a{
					color: $gray;
					@include transition(color .25s ease);
					
					&:hover{
						color: #cb262b;
					}
				}
			}
			
			.author{
				color: $light-gray;
				display: block;
				
			}
		}
		
		p{
			margin: 0 20px 20px;
			line-height: 2;
			color: $light-gray;
		}
		
		.post-buttons{
			color: $light-gray;
			display: block;
			padding: 10px;
			border-width: 1px 1px 0px 0px;
			border-style: solid;
			border-color: $lighter-gray;
			width: 33.33333%;
			float: left;
			text-align: center;
			border-bottom: 3px solid $lighter-gray;
			@include transition(background .25s ease, color .25s ease, border .25s ease);
			
			&:hover{
				background: $lighter-gray;
				color: $red;
				border-bottom: 3px solid #ddd;
			}
			
			&:last-of-type{
				border-right: none;
			}
			
		}
		
	}
	
}

footer{
	background: #333;
	color: $light-gray;
	width: 100%;
	padding: 20px;
	margin-right: 20px;
	float: left;
	@include transition(margin-left .5s ease, padding-left .5s ease);
	width:100%;
	padding-bottom: 30px;
	margin-top: 30px;
}

.trio-wrapper{
	max-width: $content-width;
	width: 70%;
	position: relative;
	@include right-content;
	
	@media screen and (max-width: $mobile-width){
		margin-left: 0;
		width: 100%;
	}

	.trio{
		width: 33.3333%;
		float: left;
		padding-right: 10px;
		padding-left: 10px;
		
		.first{
			padding-left: 0;
		}
		
		.last{
			padding-right: 0;
		}
		
		@media screen and (max-width: $mobile-width){
			width: 100%;
			padding: 0;
		}
	}
}

/* Single */

.featured-image-cont{
	max-width: $content-width;
	height: 400px;
	overflow: hidden;
	
	.featured-image img{
		width: 100%;
		height: auto;
		display: block;
	}
}

.post-content{
	width: 80%;
	margin: -200px auto 0;
	background: #fff;
	padding: 20px;
	position: relative;
	border-bottom: 3px solid $lighter-gray;
	border-top: 5px solid $red;
	box-shadow: 0px 0px 8px #ccc;
	border-radius: 0 0 4px 4px;
	overflow: hidden;
	
	h1{
		margin-top: 0;
	}
	
	.author a{
		color: $red;
	}
	
	.date{
		color: $light-gray;
	}
}

/* Breadcrumbs START */
#breadcrumbs span span {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#breadcrumbs {
	background: #f1f1f1;
	height: 45px;
	overflow: hidden;
	margin: 20px -20px 30px;
}

#breadcrumbs span span{
	float: left;
	line-height:3.3em;
	padding-left: 5px;
	color: #666;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	height: 100%;
}

#breadcrumbs span span a {
	display: block;
	padding: 0 30px 0 15px;
	background: url(../img/crumbs.jpg) no-repeat right;
	text-decoration: underline;
	color: #666;
	height: 100%;
}

#breadcrumbs span span span{
	padding-left: 15px;
	width: 100%;
}

#breadcrumbs span span a:hover, #breadcrumbs  span span a:focus {
    color: #cb262b;
    text-decoration: underline;
}

#breadcrumbs  span span , #breadcrumbs  span span a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb2 {
    max-width: 50%;   
}

.breadcrumb3 {
    max-width: 25%;   
}

.breadcrumb3:last-child {
    max-width: 50%;
}

.breadcrumb4 {
    max-width: 20%;   
}

.breadcrumb4:last-child {
    max-width: 40%;   
}

