/*
Theme Name: SafeAuto 2013
Theme URI: http://www.safeauto.com
Description: The Official Theme for SafeAuto Insurance Company
Author: Chris Berry
Author URI: http://www.safeauto.com
Version: 1.0
Tags: responsive
*/

@import url('css/bootstrap.min.css'); 
@import url('css/ie-lt8.css'); 
/* TEMP REMOVE LATER */

.content .row>.span12{
}

/* TEMP REMOVE LATER */


*{
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

a{
	color: #509EC0;
} 

a:hover{
	color: #cb262b;
	text-decoration: none;
} 

.btn{
}

a.btn{
	padding-top: 6px;
}
 
h1, h2, h3, h4, nav, .btn-primary, .pager span{
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	text-transform: uppercase;
}

h2{
	font-size: 16px;
}

.right{
	float: right;
}

.left{
	float: left;
}

input[type="text"]{
	height: 34px;
	border-width: 1px 0 0 0;
	box-shadow: none;
}

.btn-primary{
	background: #527774; /* Old browsers */
	background: -moz-linear-gradient(top, #527774 0%, #436065 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#527774), color-stop(100%,#436065)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #527774 0%,#436065 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #527774 0%,#436065 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #527774 0%,#436065 100%); /* IE10+ */
	background: linear-gradient(to bottom, #527774 0%,#436065 100%); /* W3C */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#527774', endColorstr='#436065',GradientType=0 ); /* IE6-9 */ */
	-webkit-box-shadow: none;
	box-shadow: none;
	border-width:1px 1px 3px 1px;
	border-color: #253634;
	height: 34px;
}

.btn-primary:hover{
	background: #405e5b; /* Old browsers */
	background: -moz-linear-gradient(top,  #405e5b 0%, #354b4f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#405e5b), color-stop(100%,#354b4f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #405e5b 0%,#354b4f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #405e5b 0%,#354b4f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #405e5b 0%,#354b4f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #405e5b 0%,#354b4f 100%); /* W3C */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#405e5b', endColorstr='#354b4f',GradientType=0 ); /* IE6-9 */ */
}

.btn-primary:active{
	background: #405e5b; /* Old browsers */
	background: -moz-linear-gradient(top,  #405e5b 0%, #354b4f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#405e5b), color-stop(100%,#354b4f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #405e5b 0%,#354b4f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #405e5b 0%,#354b4f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #405e5b 0%,#354b4f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #405e5b 0%,#354b4f 100%); /* W3C */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#405e5b', endColorstr='#354b4f',GradientType=0 ); /* IE6-9 */ */
}

body{
	position: relative;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; 
    font-weight: 300;
	background: #f7f7f7;
}

.wrapper{
	box-shadow: 0px 0px 35px -16px #000;
	padding: 0 25px 25px 25px;
	margin:0 auto;
	border-right: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
	border-left: 1px solid #F1F1F1;
	border-radius: 0 0 4px 4px;
}

.gray-bg{
	position: absolute;
	top:0;
	left: 0;
	background: url(img/black-road.png) left top no-repeat, #333;
	height: 420px;	
	width: 100%;
	z-index:-1000;
}

.main-nav>li.red-link, .main-nav>li.red-link a, .main-nav>li.red-link:hover, .main-nav>li.red-link:hover a{
	background: none;
	border: none;
	padding-top:6px;
}

.main-nav>li.red-link:hover a{
	color: #cb262b;
}

.navigation{
	position: relative;
	height: 105px;
	border-bottom: 3px solid #cecece;
	background: #f7f7f7;
}

.navigation .nav-inner{
	height: 95px; 
}

.navigation li{
	list-style: none;
}

.top-nav {
	right: 0;
	top: 20px;
	position: absolute;
}

.top-nav a{
	color: #666;
}

.top-nav a:hover{
	color: #cb262b;
	text-decoration: none;
}

.top-nav li{
	float: left;
	height: 19px;
	font-weight: normal;
	text-transform: none;
	margin-left: 20px;
}

.top-nav li a{
	display: block;
}

.top-nav li .esp{
	padding-left: 35px;
	background: url(img/esp.jpg) no-repeat;
}

.top-nav li .contact{
	padding-left: 25px;
	background: url(img/contact.jpg) no-repeat;
}

.top-nav li .phone{
	padding-left: 25px;
	background: url(img/phone.jpg) no-repeat;
}

.btn-navbar{
	display: none;
}

i.down-caret{
	display: inline-block;
	width:13px;
	height:9px;
	background: url(img/down-caret.png);
	margin-left: 5px;
}

.home{
	position:relative;
	display: block;
	width: 140px;
	height: 105px;
	padding-top: 22px;
	background: #cb262b;
	border-bottom: 3px solid #9A2A2E;
	text-align: center;
	transition: all .35s;
	-webkit-transition: all .35s; /* Safari */
}

.home img{
	width: 117px;
	height: auto;
}

.home:hover{
	height: 113px;
	padding-top: 30px;
}

.nav-inner{
	position: relative;
}

.main-nav{
	position: absolute;
	right: 0px;
	top:63px;
	text-transform: uppercase;
	font-size: 14px;
}

.main-nav>li{
	position: relative;
	float: left;
	list-style: none;
	font-weight: bold;
	height: 56px;
	margin-top: -14px;
	border-color: #fff;
	-webkit-transition: border-color 1s;
	transition: border-color 1s;
}

.main-nav>li:hover{
	background: #fff;
	border-top:3px solid #cb262b;
}

.main-nav>li:hover li a{ 
	padding-top: 0;
	margin-top: 5px;
}

.main-nav>li ul{
	position: absolute;
	top: 50px;
	margin-left: 0;
	font-weight: normal;
	text-transform: capitalize;
	height: 0;
	display: none;
	-moz-opacity:0;
	z-index: 1000;
}

.main-nav>li:hover ul{
	padding-bottom: 20px;
	background: #fff;
	height: auto;
	display: block;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	border-radius: 0 0 4px 4px;
	z-index: 5000;
}

.main-nav>li a{
	color: #666;
	display: block;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 12px;
	height: 100%;
}

.main-nav>li:hover a{
	text-decoration: none;
	padding-top: 9px;
}

.main-nav>li li a:hover{
	color: #cb262b;
}

.navStateRequirements, .navAboutUs{
	width:300px;
}

.navAboutUs{
	left: -169px;	
}

.navPolicyCenter{
	width:200px;
}

ul.twoCols{
	width:300px;
}

ul.twoCols li {
	float: left;
	width: 50%;
}

.nav-inner .hidden-desktop{
	margin: 0;
	padding: 0;
}

.nav-inner .hidden-desktop a{
	color: #666;
	display: block;
	height: 40px;
	vertical-align: middle;
	border-bottom: 1px solid #f1f1f1;
	width: 100%;
	padding: 9px 16px 0;
	position: relative;
}

.nav-inner .hidden-desktop a:hover{
	color: #fff;
	background: #cb262b;
}


.nav-inner .hidden-desktop ul{
	margin: 0;
	width: 100%;
}

.nav-inner .hidden-desktop ul ul a{
	background: #f1f1f1;
	border-color: #ebebeb;
}

.full-width{
	margin-left: -26px;
	margin-right: -24px;
	padding-left: 25px;
	padding-right: 25px;
}

/* Mobile nav */

.icon-bar {
	display: block;
	width: 18px;
	height: 2px;
	background-color: #f5f5f5;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}


/* Blog nav */

.blog-nav{
	background: #1F1F1F;
	height: auto;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.blog-nav ul{
	margin: 0;
	height: auto;
}

.blog-nav li{
	list-style: none;
	height:45px;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

.blog-nav li a{
	display: block;
	color: #fff;
	padding-top: 12px;
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;
	border-color: #000;
	transition: border-color .5s;
	-webkit-transition: border-color .5s;
}

.blog-nav li:hover a{
	border-bottom: 3px solid #cb262b;
	text-decoration: none;
}


/* Breadcrumbs START */
#breadcrumbs span span {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#breadcrumbs {
	background: #f1f1f1;
	height: 45px;
	overflow: hidden;
}

#breadcrumbs span span{
	float: left;
	line-height:3.3em;
	padding-left: 5px;
	color: #666;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	height: 100%;
}

#breadcrumbs span span a {
	display: block;
	padding: 0 30px 0 15px;
	background: url(img/crumbs.jpg) no-repeat right;
	text-decoration: underline;
	color: #666;
	height: 100%;
}

#breadcrumbs span span span{
	padding-left: 15px;
	width: 100%;
}

#breadcrumbs span span a:hover, #breadcrumbs  span span a:focus {
    color: #cb262b;
    text-decoration: underline;
}

#breadcrumbs  span span , #breadcrumbs  span span a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb2 {
    max-width: 50%;   
}

.breadcrumb3 {
    max-width: 25%;   
}

.breadcrumb3:last-child {
    max-width: 50%;
}

.breadcrumb4 {
    max-width: 20%;   
}

.breadcrumb4:last-child {
    max-width: 40%;   
}

/* Content */

.main-content{
	margin-top: 25px;	
}

.content{
	background: #fff;
}

/* Get a Quote */

.quote-box{
	background: #f5f5f5;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 25px;
	border-bottom: 3px solid #eee;
}

.quote-box h2{
	height: 50px;
	background: #cb262b;
	margin: 0;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	line-height: 1;
	padding: 16px;
	position: relative;
}

.quote-input{
	margin: 16px;
}

.quote-box input[type="text"]{
	margin-bottom: 0px;
	margin-right: 10px;
	width: 163px;
}

i.quote-icon{
	background: url(img/quote-icon.png);
	width: 22px;
	height: 22px;
	position: absolute;
	right: 16px;
	top:13px;
	background-size:22px 22px;
}

/* Side Box */

.side-box{
	background: #f5f5f5;
	margin-bottom: 25px;
	border-bottom: 3px solid #eee;
	overflow: hidden;
	border-radius: 0 0 3px 3px;
	border-left: 1px solid #ededed;
	border-right: 1px solid #ededed;
}

.side-box h2{
	height: 50px;
	background: #333;
	margin: 0;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	line-height: 1;
	position: relative;
	border-top: 3px solid #cb262b;
	-webkit-transition: border-color .3s;
	transition: border-color .3s;
}

.side-box h2:hover{
	border-color: #509EC0;
}

.side-box h2 a{
	display: block;
	height: 100%;
	color: #fff;
	text-decoration: none;
	padding: 14px 16px 16px 16px;
}

.side-box ul{
	margin: 8px 0 0 0;
	padding-bottom: 16px;
}

.side-box li{
	list-style: none;
	width: 100%;
}

.side-box li a{
	color: #333;
	width: 100%;
	padding-left: 16px;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	border-color: #fff;
	-webkit-transition: border-color 1s, background .5s;
	transition: border-color 1s, background .5s;
}

.side-box li:hover a{
	padding-left: 13px;
	border-left:3px solid #cb262b;
	background: #fff;
	text-decoration: none;
}

/* Icons */

.blog-icon{
	display: inline-block;
	float: right;
	width: 25px;
	height: 21px;
	background:url(img/blog-icon.png) no-repeat;
}

.trio-icon{
	display: inline-block;
	float: right;
	width: 25px;
	height: 19px;
	background:url(img/trio-icon.png) no-repeat;
}

/* Footer */

.footer{
	background: #333;
	margin-top: 30px;
	padding-bottom: 30px;
}

.footer a{
	-webkit-transition: color .3s;
	transition: color .3s;
}

.footer a:hover{
	color: #cb262b;
	text-decoration: none;
}

.footer h2{
	font-size: 16px;
	color: #999;
	margin-bottom: 26px;
	line-height: 1;
	margin-top: 26px;
}

.footer h2 a{
	color: #999;
}

.footer ul{
	margin: 0;
}

.footer .twoCols{
	width: auto;
}

.footer li{
	list-style: none;
	text-transform: capitalize;
	font-weight: normal;
}

.footer li a{
	color: #ccc;
}

/* Featured Image */

.featured-image-cont{
	position: relative;
}

.featured-image{
	height: 200px;
	overflow: hidden;
	padding: 0;
	position: relative;
	background: url(img/road-short-gray.jpg) center top no-repeat;
}

.featured-image img{
	width: 100%;
	-webkit-transition: -webkit-transform 0.3s linear;
	-moz-transition: -moz-transform 0.3s linear;
	-o-transition: -o-transform 0.3s linear;
	transition: transform 0.3s linear;
}

.featured-image:hover img{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}

.page-title{
	background: url(img/black.png) repeat;
	position: absolute;
	z-index: 2000;
	border-top: 3px solid #cb262b;
	min-height: 60px;
	bottom: -5px;
	padding: 16px;
}

.page-title h1, .page-title h3{
	color: #fff;
	margin: 0;
	line-height: 1;
	display: block;
}

.page-title h1{
	font-size: 24px;
	padding-right: 20px;
}

.page-title h3{
	font-weight: normal;
	text-transform: none;
	font-size: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
}

/* Blog */

.post{
	background: #f5f5f5;
	border-bottom: 3px solid #ccc;
	position: relative;
	margin-bottom: 25px;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	border-left: 1px solid #ededed;
	border-right: 1px solid #ededed;
}

.post-header{
	background: #333;
	position: relative;
	min-height: 50px;
}

.post-header h2{
	margin: 0;
	line-height: 1;
}

.post-header a{
	color: #fff;
	display: block;
	border-top: 3px solid #cb262b;
	padding: 13px 16px 16px 16px;
	-webkit-transition: border-color .3s;
	transition: border-color .3s;
}

.post-header a:hover{
	text-decoration: none;
	border-color: #509EC0;
}

.post-image{
	height: 290px;
	overflow: hidden;
}

.post-image img{
	width: 100%;
	-webkit-transition: -webkit-transform 0.3s linear;
	-moz-transition: -moz-transform 0.3s linear;
	-o-transition: -o-transform 0.3s linear;
	transition: transform 0.3s linear;
}

.post-image:hover img{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}

.post-summary{
	position: relative;
	margin: 16px;
	margin-bottom: 0;
}

.post-details{
	font-size: 14px;
}

.post-details>span a, .pager span a{
	color: #666;
	padding: 7px;
}

.post-details a:hover{
	color: #cb262b;
}

.post-details>span i{
	margin-right: 7px;
}

.post-details>span, .pager span{
	float: left;
	display: block;
	margin-right: 15px;
	border: 1px solid #EEE;
	border-radius: 4px;
	margin-bottom: 20px;
}

.pager{
	width: 100%;
	margin-bottom: 30px;
}

.pager a{
	padding: 5px;
	display: block;
}

.post-details>span:hover, .pager span:hover{
	background:#FAFAFA;
}

.pager span:hover a{
	color: #cb262b;
}

.pager span{
	margin-top: 0;
}

.pager span.next{
	float: right;
}

.pager span.previous{
	float: left;
}

.post-details>span a{
	display: inline-block;
}

.post-details .btn{
	display: block;
	width: auto;
	margin-right: -16px;
	margin-left: -16px;
	clear: both;
	border-radius: 0;
	background: #ECECEC;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	font-weight: bold;
	text-transform: uppercase;
	height: 40px;
	padding-top: 10px;
	box-shadow: none;
	color: #333;
	text-shadow: none;
}

.post-details .btn:hover{
	color: #333;
	background: #ddd;
}

.blog-content{
	margin-bottom: 40px;
}

.addthis_toolbox{
	margin-top: 20px;
}

.copyright{
	margin-top: 35px;
}

.copyright, .copyright a{
	color: #ccc;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
}

.copyright a:hover{
	color: #cb262b;
}

.wp-caption{
	padding:5px;
	margin: -5px;
}

.wp-caption.alignleft{
	float: left;
	margin: 0 10px 10px -5px;
}

.wp-caption.alignright{
	float: right;
	margin: 0 -5px 10px 10px;
}

.wp-caption-text{
	background: #333;
	color: #FFF;
	padding: 10px;
}

/* Author */

.author h1{
	font-size: 25px;
}

.author-image{
	border-radius: 100px;
	display: block;
	overflow: hidden;
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.author-info{
	margin-bottom: 40px;
	border-bottom: 4px solid #eee;
}

.author-bio{
	padding-bottom: 20px;
}

/* AddThis */

.at4-whatsnext{
	border-top:none;
	border-left:none;
}

.addthis_toolbox{
	clear: both;
}

@media (max-width: 450px){
	
.author-image{
	margin: 0 auto 20px;
	float: none;
}

}


@media (max-width: 450px){

.post-image{
	height: 200px;
}

}


/* up to but not including SMALL DESKTOP */

@media (max-width: 980px){

.navigation{
	height: 77px;
}

.navigation .nav-inner{
	height: 77px;
}

.top-nav{
	top:8px;
}

.quote-box input[type="text"]{
	width: 100%;
}

.quote-box .btn-primary{
	width: 100%;
	margin-top: 10px;
}

.main-nav{
	top:45px;
}

.main-nav>li{
	height: 43px;
}

.main-nav>li a {
	padding-left: 5px;
	padding-right: 5px;
}

.main-nav>li ul{
	top:40px;
}

.home{
	width: 120px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 9px;
	height: 77px;
}

.home:hover{
	height: 87px;
	padding-top: 19px;
}

}

/* up to but not including TABLET */

@media (max-width: 767px){

input[type='text'],input[type='number'],textarea {font-size:16px;}

.navigation {
	min-height: 48px;
	height: auto;
	border: none;
}

.navigation .nav-inner{
	min-height: 48px; 
	   height:auto !important; 
	   height: 48px; 
	   margin-bottom: -1px; 
}

.top-nav{
	top:18px;
}

i.down-caret {
	right: 16px;
	top: 16px;
	position: absolute;
}

.home{
	height: 48px;
	width: 70px;
	padding-top: 7px;
	padding-left: 6px;
	padding-right: 6px;
}

.home:hover{
	height: 48px;
	padding-top: 7px;
}

.btn-navbar{
	position: absolute;
	right: 0px;
	top: 10px;
	height: 30px;
	background: #333;
	border: none;
	display: block;
}

.btn-navbar:hover{
	background: #cb262b;
}

body{
	padding: 0;
}

.blog-nav{
	height: auto;
}

.blog-nav li{
	display: inline-block;
	float: none;
}

.blog-nav li a{
	display: block;
	padding:10px;
	border-bottom: 0;
}

.blog-nav li:hover a{
	background: #cb262b;
	border-bottom: 0;
}

.wrapper{
	padding: 0 10px 10px 10px;
}

#breadcrumbs li {;
	line-height: 2;
}

.btn-navbar{
	right:10px;
}

.full-width{
	margin-right: -11px;
}

.top-nav{
	right: 60px;
}

.top-nav li{
	margin: -3px 0 0 10px;
}

.top-nav li a{
	display: block;
	overflow: hidden;
	padding: 0;
}

.top-nav li .esp{
	width: 24px;
	height: 19px;
}

.top-nav li .contact{
	width: 14px;
	height: 19px;
}

.top-nav li .phone{
	width: 14px;
	height: 19px;
}

.wp-caption{
	width: 100% !important;
	padding:0;
	margin: 0;
}

.wp-caption img{
	width: 100% !important;
	display: block;
}

.wp-caption.alignleft{
	float: none;
	margin: 0;
}

.wp-caption.alignright{
	float: none;
	margin: 0;
}

.wp-caption-text{
	background: #333;
	color: #FFF;
	padding: 10px;
}


}


/* VERTICAL TABLET and up */

@media (min-width: 768px){

.wrapper{
	width:774px;
}

.featured-image img{
	position: relative;
	top:-30%;
}


}

/* SMALL DESKTOP and up */

@media (min-width: 980px){
	
.wrapper{
	width:990px;
}	

.quote-box input[type="text"]{
	width: 110px;
}

.quote-box .btn-primary{
	width: auto;
	margin-top: 0;
}

.btn-navbar{
	display: none;
}
	
}

/* LARGE DESKTOP and up */

@media (min-width: 1200px){

.wrapper {
	width: 1220px;
}

.quote-box input[type="text"]{
	width: 160px;
}

}